/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snack-red {
    background: rgb(224, 38, 38);
    color: whitesmoke;
  }

  .snack-green {
    background: rgb(37, 243, 116);
    color: rgb(36, 6, 6);

  }